@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  background: #000;
  font-weight: 300;
  color: #EEE;
  font-family: 'Lato', sans-serif;
}
h2 {
  font-weight: 700;
  color: #FFF;
  font-size: 4.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
pre {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.5em;
  color: #FFF14A;
  background: #181818;
  padding: 5px 25px;
  line-height: 1.2em;
  margin: 20px 0 10px;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.4);
}
pre:before {
  content: '> ';
}
.description {
  font-size: 1.5em;
  margin:0 0 30px;
}
.description img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
article {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
  background: #1A2527;
  
  padding: 30px 10%;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article:nth-child(1) h2{
  color: #fff;
}
article:nth-child(2n){
  background: #383542;
}
article.title {
  background: #000;
}
article footer {
  position: absolute;
  bottom: 30px;
  left: 10%;
}
article footer a {
  color: yellow;
}
article footer:before {
  color: #fff;
  content: 'fuente: ';
}
a.nav {
  position: absolute;
  z-index: 1000;
  top: 50%;
  width: 0; 
  height: 0; 
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;

  text-indent: 100%;
  overflow: hidden;
}
#back {
  left:5%;
  border-right: 1.5em solid white;
  
}
#next {
  right: 5%;
  border-left: 1.5em solid white;
}
.current,
.no-js article {
	visibility: visible;
	z-index: 1;
}
.ontop {
	z-index: 999;
}
ul{
  list-style: none;
}

.scaleUp {
	-webkit-animation: scaleUp .7s ease both;
	-moz-animation: scaleUp .7s ease both;
	animation: scaleUp .7s ease both;
}
.scaleDown {
	-webkit-animation: scaleDown .7s ease both;
	-moz-animation: scaleDown .7s ease both;
	animation: scaleDown .7s ease both;
}
.moveToLeftEasing {
	-webkit-animation: moveToLeft .7s ease-in-out both;
	-moz-animation: moveToLeft .7s ease-in-out both;
	animation: moveToLeft .7s ease-in-out both;
}
.moveToRightEasing {
	-webkit-animation: moveToRight .7s ease-in-out both;
	-moz-animation: moveToRight .7s ease-in-out both;
	animation: moveToRight .7s ease-in-out both;
}
.moveFromRight {
	-webkit-animation: moveFromRight .6s ease both;
	-moz-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}
.moveFromLeft {
	-webkit-animation: moveFromLeft .6s ease both;
	-moz-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}
.moveToRight {
	-webkit-animation: moveToRight .6s ease both;
	-moz-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
}
@-webkit-keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleUp {
	from { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleUp {
	from { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveFromRight {
	from { -moz-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { transform: translateX(100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromLeft {
	from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
	to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToRight { 
	to { -moz-transform: translateX(100%); }
}
@keyframes moveToRight { 
	to { transform: translateX(100%); }
}
@-webkit-keyframes moveToLeft {
	to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveToLeft {
	to { -moz-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	to { transform: translateX(-100%); }
}

@-webkit-keyframes scaleDown {
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
	to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}